:root {
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --primary-color: rgba(238, 227, 235, 0.911);
  --secondary-color: rgba(171, 130, 158, 0.63);
  --third-color: rgba(145, 31, 109, 0.951);
}

body {
font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: var(--primary-color);
}

h1 {
  margin-top: 60px;
}

h2 {
  font-size: 36px;
  border: 2px solid black;
  box-shadow: var(--shadow);
}

.btn {
  box-shadow: var(--shadow);
  background-color: var(--third-color);
  color: white;
  border: var(--primary-color);
  padding: 10px 20px;
  border-radius: 4px;

}

.btn:hover {
  opacity: 0.8;
   background-color: var(--third-color);
  color: white;
}

.miniature {
  height: 200px;
  width: 300px;
}

.project-container {
  max-width: 1000px;
  display: block;
  margin: 40 auto;
  padding: 20px;
  border: 1px solid rgba(100, 100, 111, 0.2);
  box-shadow: var(--shadow);
  background-color: var(--secondary-color);
}

.project-image {
  max-width: 400px;
  margin: 10px;
}

#homepage-link {
  position: relative;
  top: 30px;
  font-size: 12px;
  background-color: violet;
  border: none;
  padding: 8px 15px;
}
#homepage-link:hover {
  opacity: 0.9;
}

.paragraph {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.paragraph div {
  background-color: rgba(255, 177, 255, 0.492);
  padding: 15px;
  flex: 1;
  max-width: 350px;
  text-align: center;
}
